map $ssl_preread_server_name $name {
    ${DOMAIN} ${DOMAIN};
    default https_default_backend;
}
upstream ${DOMAIN}{
    server ${PROXY_PASS};
}
server {
    listen ${IP4_HOST}:443;
    proxy_pass $name;
    ssl_preread on;
}

