version: '3'
services:
  v2ray:
    container_name: ${V2RAY_CONTAINER_NAME}
    image: ${V2RAY_IMAGE_BASE}:${V2RAY_IMAGE_TAG}
    restart: always
    cap-add: NET_ADMIN 
    ports:
      - ${V2RAY_HOST_PORT}:${V2RAY_HOST_PORT}
      - ${V2RAY_HOST_PORT}:${V2RAY_HOST_PORT}/udp
    volumes:
      - ${V2RAY_LOG_DIR}:/var/log/v2ray/
      - ${V2RAY_DATA_DIR}:/etc/v2ray
      - ${V2RAY_CONF_FILE}:/etc/v2ray/config.json
