version: '3'
services:
  jupyterhub:
    container_name: ${JUPYTERHUB_CONTAINER_NAME}
    image: ${JUPYTERHUB_IMAGE_BASE}:${JUPYTERHUB_IMAGE_TAG}
    restart: always
    ports:
      - ${JUPYTERHUB_HOST_PORT}:8000
    # volumes:
    #   - ${JUPYTERHUB_DATA_DIR}:/bitnami/jupyterhub
    environment:
      - TZ="${TZ}"
