#+--------------+
# Base
#+--------------+
DATA_DIR=./data

#+--------------+
# Timezone
#+--------------+
TZ=Asia/Shanghai

#+--------------+
# Acmesh
ACMESH_IMAGE_BASE=neilpang/acme.sh
ACMESH_IMAGE_TAG=2.8.7
ACMESH_CONTAINER_NAME=acme
ACMESH_DP_Id=<please input>
ACMESH_DP_Key=<please input>
ACMESH_CF_ACCOUNT_ID=<please input> 👉 find it on the botton of overview page 
ACMESH_CF_TOKEN=<please input> create **Edit zone DNS** token
ACMESH_CF_ZONE_ID=<please input>
ACMESH_CF_Key=<please input>
ACMESH_CF_Email=<please input>
ACMESH_ROOT_DIR=./data/acme.sh
#+--------------+


#+--------------+
# Nginx
#+--------------+
NGINX_CONTAINER_NAME=nginx
NGINX_IMAGE_BASE=nginx
NGINX_IMAGE_TAG=1.18.0-alpine
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_STREAM_PORT=8443
NGINX_CONFD_DIR=./config/nginx/conf.d
NGINX_CONF_FILE=./config/nginx/nginx.conf
NGINX_LOG_DIR=./logs/nginx
NGINX_SSL_DIR=./data/letsencrypt

#+--------------+
# v2ray
#+--------------+
V2RAY_CONTAINER_NAME=v2ray
V2RAY_IMAGE_BASE=v2fly/v2fly-core
V2RAY_IMAGE_TAG=latest
V2RAY_DATA_DIR=./data/v2ray
V2RAY_LOG_DIR=./logs/v2ray
V2RAY_CONF_FILE=./config/v2ray/config.json
V2RAY_HOST_PORT=5432

#+--------------+
# Redis
#+--------------+
REDIS_CONTAINER_NAME=redis
REDIS_IMAGE_BASE=bitnami/redis
REDIS_IMAGE_TAG=5.0.14
REDIS_DATA_DIR=./data/redis
REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
REDIS_HOST_PORT=6379
REDIS_PASSWORD=123456

#+--------------+
# Mysql 5
# Mac M1 使用如下配置 
#  MYSQL_IMAGE_BASE=mysql/mysql-server
#  MYSQL_IMAGE_TAG=5.7
#  [mysql-server](https://hub.docker.com/r/mysql/mysql-server)
#+--------------+
MYSQL5_CONTAINER_NAME=mysql5
MYSQL5_IMAGE_BASE=mysql
MYSQL5_IMAGE_TAG=5.7
MYSQL5_CONFIG_FILE=./config/mysql/my5.cnf
MYSQL5_DATA_DIR=./data/mysql5
MYSQL5_HOST_PORT=3305
MYSQL5_ROOT_PASSWORD=123456
MYSQL5_USERNAME=test
MYSQL5_PASSWORD=123456
MYSQL5_DATABASE=test

#+--------------+
# Mysql 8
# Mac M1 使用如下配置 
#  MYSQL_IMAGE_BASE=mysql/mysql-server
#  MYSQL_IMAGE_TAG=8.0.21
#  [mysql-server](https://hub.docker.com/r/mysql/mysql-server)
#+--------------+
MYSQL8_CONTAINER_NAME=mysql8
MYSQL8_IMAGE_BASE=mysql
MYSQL8_IMAGE_TAG=8.0.21
MYSQL8_CONFIG_FILE=./config/mysql/my8.cnf
MYSQL8_DATA_DIR=./data/mysql8
MYSQL8_HOST_PORT=3306
MYSQL8_ROOT_PASSWORD=123456
MYSQL8_USERNAME=test
MYSQL8_PASSWORD=123456
MYSQL8_DATABASE=test

#+--------------+
# Mysql 8_2
# Mac M1 使用如下配置 
#  MYSQL_IMAGE_BASE=mysql/mysql-server
#  MYSQL_IMAGE_TAG=8.0.21
#  [mysql-server](https://hub.docker.com/r/mysql/mysql-server)
#+--------------+
MYSQL8_2_CONTAINER_NAME=mysql8_2
MYSQL8_2_IMAGE_BASE=mysql
MYSQL8_2_IMAGE_TAG=8.0.21
MYSQL8_2_CONFIG_FILE=./config/mysql/my8_2.cnf
MYSQL8_2_DATA_DIR=./data/mysql8_2
MYSQL8_2_HOST_PORT=3307
MYSQL8_2_ROOT_PASSWORD=123456
MYSQL8_2_USERNAME=test
MYSQL8_2_PASSWORD=123456
MYSQL8_2_DATABASE=test

#+--------------+
# Mongodb
#+--------------+
MONGODB_CONTAINER_NAME=mongodb
MONGODB_IMAGE_BASE=bitnami/mongodb
MONGODB_IMAGE_TAG=4.4.4
MONGODB_DATA_DIR=./data/mongodb
MONGODB_HOST_PORT=27017
MONGODB_ALLOW_EMPTY_PASSWORD=no
MONGODB_ROOT_PASSWORD=123456
MONGODB_USERNAME=test
MONGODB_PASSWORD=123456
MONGODB_DATABASE=test

#+--------------+
# Postgres
#+--------------+
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_IMAGE_BASE=bitnami/postgresql
POSTGRES_IMAGE_TAG=12.4.0
POSTGRES_DATA_DIR=./data/postgres
POSTGRES_HOST_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=postgres


#+--------------+
# Frps
#+--------------+
FRPS_CONTAINER_NAME=frps
FRPS_IMAGE_BASE=snowdreamtech/frps
FRPS_IMAGE_TAG=latest
FRPS_CONF_FILE=./config/frp/frps.ini
FRPS_HOST_PORT=50000
FRPS_PROXY_PORT=50001


#+--------------+
# ES 1
#+--------------+
ES1_CONTAINER_NAME=es1
ES1_IMAGE_BASE=docker.io/elasticsearch
ES1_IMAGE_TAG=1.5.2
ES1_PORT_1=9200
ES1_PORT_2=9300
ES1_DATA_FILE=./data/es1

#+--------------+
# meilisearch 
#+--------------+
MEILI_CONTAINER_NAME=meili
MEILI_IMAGE_BASE=getmeili/meilisearch
MEILI_IMAGE_TAG=v0.27.1
MEILI_PORT_1=7700
MEILI_DATA_FILE=./data/meili_data


#+--------------+
# Zookeeper 1
#+--------------+
ZOOKEEPER_CONTAINER_NAME=zookeeper
ZOOKEEPER_IMAGE_BASE=bitnami/zookeeper
ZOOKEEPER_IMAGE_TAG=3.6.3
ZOOKEEPER_HOST_PORT=2181
ZOOKEEPER_DATA_DIR=./data/zookeeper
ZOOKEEPER_SERVER_USERS=admin,root
ZOOKEEPER_SERVER_PASSWORDS=123456,123456
ZOOKEEPER_CLIENT_USER=client
ZOOKEEPER_CLIENT_PASSWORD=123456

#+--------------+
# JupytherHub
#+--------------+
JUPYTERHUB_CONTAINER_NAME=jupyterhub
JUPYTERHUB_IMAGE_BASE=bitnami/jupyterhub
JUPYTERHUB_IMAGE_TAG=1.4.0
JUPYTERHUB_HOST_PORT=8000
JUPYTERHUB_DATA_DIR=./data/jupyterhub

#+--------------+
# SRS
#+--------------+
SRS_CONTAINER_NAME=srs
SRS_IMAGE_BASE=ossrs/srs
SRS_IMAGE_TAG=v4.0-b10
SRS_HOST_PORT_1=1935
SRS_HOST_PORT_2=1985
SRS_HOST_PORT_3=8080
SRS_HOST_PORT_4=8000
SRS_CANDIDATE=ipv4 or ipv6
SRS_CONFIG_FILE=./config/srs/conf/rtmp2rtc.conf