#+--------------+
# Base
#+--------------+
DATA_DIR=./data

#+--------------+
# Timezone
#+--------------+
TZ=Asia/Shanghai

#+--------------+
# Acmesh
ACMESH_IMAGE_BASE=neilpang/acme.sh
ACMESH_IMAGE_TAG=2.8.7
ACMESH_CONTAINER_NAME=acme
ACMESH_DP_Id=<please input>
ACMESH_DP_Key=<please input>
ACMESH_ROOT_DIR=./data/acme.sh
#+--------------+


#+--------------+
# Nginx
#+--------------+
NGINX_CONTAINER_NAME=nginx
NGINX_IMAGE_BASE=nginx
NGINX_IMAGE_TAG=1.18.0-alpine
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_CONFD_DIR=./config/nginx/conf.d
NGINX_CONF_FILE=./config/nginx/nginx.conf
NGINX_LOG_DIR=./logs/nginx
NGINX_SSL_DIR=./data/letsencrypt

#+--------------+
# v2ray
#+--------------+
V2RAY_CONTAINER_NAME=v2ray
V2RAY_IMAGE_BASE=v2ray/official
V2RAY_IMAGE_TAG=latest
V2RAY_DATA_DIR=./data/v2ray
V2RAY_LOG_DIR=./logs/v2ray
V2RAY_CONF_FILE=./config/v2ray/config.json
V2RAY_HOST_PORT=5432

#+--------------+
# Redis
#+--------------+
REDIS_CONTAINER_NAME=redis
REDIS_IMAGE_BASE=bitnami/redis
REDIS_IMAGE_TAG=6.0.10
REDIS_DATA_DIR=./data/redis
REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
REDIS_HOST_PORT=6379
REDIS_PASSWORD=123456

#+--------------+
# Mysql
#+--------------+
MYSQL_CONTAINER_NAME=mysql
MYSQL_IMAGE_BASE=mysql
MYSQL_IMAGE_TAG=8.0.21
MYSQL_CONFIG_FILE=./data/mysql
MYSQL_DATA_DIR=./data/mysql
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_USERNAME=test
MYSQL_PASSWORD=123456
MYSQL_DATABASE=test

#+--------------+
# Mongodb
#+--------------+
MONGODB_CONTAINER_NAME=mongodb
MONGODB_IMAGE_BASE=bitnami/mongodb
MONGODB_IMAGE_TAG=4.4.4
MONGODB_DATA_DIR=./data/mongodb
MONGODB_HOST_PORT=27017
MONGODB_ALLOW_EMPTY_PASSWORD=no
MONGODB_ROOT_PASSWORD=123456
MONGODB_USERNAME=test
MONGODB_PASSWORD=123456
MONGODB_DATABASE=test

#+--------------+
# Postgres
#+--------------+
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_IMAGE_BASE=bitnami/postgresql
POSTGRES_IMAGE_TAG=12.4.0
POSTGRES_DATA_DIR=./data/postgres
POSTGRES_HOST_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=postgres